<!DOCTYPE html>
<html>

<head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>La noticia ha sido almacenada con éxito</h1>
    <h2>El usuario es: {{uname}}</h2>
    <h2>El titulo es: {{titulo}}</h2>
    <h2>La img es: {{subirImagen}}</h2>
    <h2>La noticia es: {{textoNoticia}}</h2>



</body>

</html>