<!DOCTYPE html>
<html>

<head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>La noticia ha sido almacenada con éxito</h1>
    <h2>El usuario es: {{uname}}</h2>
    <h2>El email es: {{email}}</h2>
    <h2>El titulo de la noticia es: {{titulo}}</h2>

    <h2>El comentario es: {{textoComentario}}</h2>

    <div class="one_half">
        <a href = "noticia?title={{titulo}}" style="text-decoration:none; color:inherit">

            <p>HACER CLICK AQUI PARA VOLVER A NOTICIA</p>
        </a>

    </div>


</body>

</html>