<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: black;
        }

        * {
            box-sizing: border-box;
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
            background-color: white;
        }

        /* Full-width input fields */
        input[type=text],
        input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

        input[type=text]:focus,
        input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit button */
        .registerbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        .registerbtn:hover {
            opacity: 1;
        }

        textarea {
            width: 1630px;
            height: 284px;
        }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>
</head>

<script>

    window.onload=function() {
        var imageLoader = document.getElementById('imageLoader');
        imageLoader.addEventListener('change', handleImage, false);
        var canvas = document.getElementById('imageCanvas');
        var ctx = canvas.getContext('2d');


        function handleImage(e) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var img = new Image();
                img.onload = function () {
                    canvas.width = img.width;
                    canvas.height = img.height;
                    ctx.drawImage(img, 0, 0);
                }
                img.src = event.target.result;
            }
            reader.readAsDataURL(e.target.files[0]);
        }

    }


</script>
<body>

<<form action="http://127.0.0.1:8080/checkNew" method='post'>
    <div class="container">
        <h1>Escribir Noticia</h1>
        <hr>
        <label for="uname"><b>Autor</b></label>
        <input type="text" placeholder="Introduzca nombre del autor" name="uname" required>

        <label for="Titulo"><b>Titulo</b></label>
        <input type="text" placeholder="Introduzca titulo" name="titulo" required>

        <label for="descripcion"><b>Descripción</b></label>
        <input type="text" placeholder="Introduzca descripción" name="descripcion" required>



        <hr>
        <br>
        <label for="subirImagen"><b>Subir imagen</b></label>
        <br>
        <input type="file" id="imageLoader" name="subirImagen"/>
        <canvas id="imageCanvas"></canvas>
        <br>
        <label for="textoNoticia"><b>Texto noticia</b></label>
        <br>
        <textarea name="textoNoticia"></textarea>


        <button type="submit" class="registerbtn">Enviar noticia</button>
    </div>

</form>

</body>

</html>