<!DOCTYPE html>
<!--
Template Name: Interlingua
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html lang="es-ES">
<head>
  <title>{{name}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

  <script src="layout/scripts/jquery.min.js"></script>
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="fl_left">
      </div>
      <div class="fl_right">
        <ul>
          <li><a href="http://127.0.0.1:8080/inicio"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="http://127.0.0.1:8080/login">Login/Registrarse</a></li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <nav id="mainav" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <ul class="clear">
        <li class="active"><a href="http://127.0.0.1:8080">Home</a></li>
        <li><a class="drop" href="http://127.0.0.1:8080/categorias">Noticias</a>
          <ul>
            <li><a href="http://127.0.0.1:8080/categoria?categoria=sony">Playstation</a></li>
            <li><a href="http://127.0.0.1:8080/categoria?categoria=xbox">Microsoft</a></li>
            <li><a href="http://127.0.0.1:8080/categoria?categoria=nintendo">Nintendo</a></li>
            <li><a href="http://127.0.0.1:8080/categoria?categoria=pc">PC</a></li>
          </ul>
        </li>
        <li><a class="drop" href="http://127.0.0.1:8080/eventos">Eventos</a>
          <ul>
            <li><a href="http://127.0.0.1:8080/evento?evento=videojuegos">Videojuegos</a></li>
            <li><a href="http://127.0.0.1:8080/evento?evento=conferencias">Conferencias</a></li>
            <li><a href="http://127.0.0.1:8080/evento?evento=esports">E-Sports</a></li>
          </ul>
        </li>
        <li><a href="#">Subscripción</a></li>
      </ul>
      <!-- ################################################################################################ -->
    </nav>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper bgded overlay" style="background:black;">
    <!-- Slideshow container -->
    <div class="slideshow-container">

      <!-- Full-width images with number and caption text -->
      {{#noticiasSlider}}
      <div class="mySlides fade">
        <img src="images/{{imagen}}" class="imgPortada">
        <article>
          <a href = "noticia?title={{titulo}}" style="text-decoration:none; color:inherit">
          		<h3 class="heading">{{titulo}}</h3>
          </a>	
          <p>{{descripcion}}</p>
        </article>
        
      </div>
      {{/noticiasSlider}}

      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
  </div>


  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <main class="hoc container clear"> 
      <!-- main body -->
      <!-- ################################################################################################ -->
      <div class="group">
        <div class = "content one_half first">

          <h3>NOTICIAS FRESCAS</h3>
			{{#listaTotalArticulos}}
          		<div class="one_half first">
            		<img class="inspace-10 borderedbox" src="images/{{imagen}}" alt="">
          		</div>

          		<div class="one_half">
          			<a href = "noticia?title={{titulo}}" style="text-decoration:none; color:inherit">
	            		<p>{{titulo}}</p>
	            	</a>
	            	<p>{{descripcion}}</p>

          		</div>
          		
			{{/listaTotalArticulos}}

        </div>
        <div class="one_quarter">
          <h3>GAMEPLAYS</h3>

          <iframe width="380" height="180" src="https://www.youtube.com/embed/IEWygZDo17c"></iframe>

          <iframe width="380" height="180" src="https://www.youtube.com/embed/RB9uOAdzq24"></iframe>
        </div>
      </div>
      <!-- ################################################################################################ -->
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
    <section class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <div class="sectiontitle">
        <h6 class="heading">Conubia nostra per</h6>
        <p>Inceptos himenaeos curabitur in ipsum nec justo.</p>
      </div>
      <ul class="nospace group center">
        <li class="one_quarter first">
          <article><a href="#"><i class="icon btmspace-30 fa fa-ioxhost"></i></a>
            <h6 class="heading font-x1">Elementum facilisis</h6>
            <p>Est pellentesque tempus sodales justo lectus faucibus neque a mollis augue arcu&hellip;</p>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="icon btmspace-30 fa fa-yelp"></i></a>
            <h6 class="heading font-x1">Suspendisse potenti</h6>
            <p>Fusce consequat ipsum non ipsum aliquam iaculis odio non bibendum bibendum erat&hellip;</p>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="icon btmspace-30 fa fa-google-wallet"></i></a>
            <h6 class="heading font-x1">Donec sagittis purus</h6>
            <p>Dolor ut dignissim ipsum nisl sit amet metus nam dui dui rhoncus tempus aliquam&hellip;</p>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="icon btmspace-30 fa fa-ils"></i></a>
            <h6 class="heading font-x1">Ullamcorper odio sed</h6>
            <p>Rutrum vel tellus donec tortor lectus varius vel egestas a dictum in odio sed&hellip;</p>
          </article>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </section>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row3">
    <section class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <div class="sectiontitle">
        <h6 class="heading">Nec tincidunt aliquet</h6>
        <p>Ipsum mi ultrices magna eu tempor quam dolor.</p>
      </div>
      <ul class="nospace group services">
        <li class="one_quarter first">
          <article class="inverse"><a href="#"><i class="fa fa-3x fa-houzz"></i></a>
            <h6 class="heading font-x1"><a href="#">Maecenas</a></h6>
            <p>Felis quam eget dictum suscipit vivamus et nec metus maecenas</p>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="fa fa-3x fa-weibo"></i></a>
            <h6 class="heading font-x1"><a href="#">Dignissim</a></h6>
            <p>Dapibus consectetuer mauris aliquam urna dolor semper volutpat</p>
          </article>
        </li>
        <li class="one_quarter">
          <article class="inverse"><a href="#"><i class="fa fa-3x fa-wheelchair-alt"></i></a>
            <h6 class="heading font-x1"><a href="#">Vestibulum</a></h6>
            <p>Id dictum vel est morbi lacinia sagittis mauris pellentesque id eros sit</p>
          </article>
        </li>
        <li class="one_quarter">
          <article><a href="#"><i class="fa fa-3x fa-viacoin"></i></a>
            <h6 class="heading font-x1"><a href="#">Bibendum</a></h6>
            <p>Amet risus interdum ornare integer id justo ut diam suscipit laoreet</p>
          </article>
        </li>
      </ul>
      <!-- ################################################################################################ -->
    </section>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row2">
    <figure class="hoc container clear"> 
      <!-- ################################################################################################ -->
      <figcaption class="sectiontitle">
        <h6 class="heading">Dictum in non ligula</h6>
        <p>Non lectus laoreet accumsan mauris placerat magna.</p>
      </figcaption>
      <ul class="nospace group">
        <li class="one_quarter first"><a href="#"><img src="images/demo/222x138.png" alt=""></a></li>
        <li class="one_quarter"><a href="#"><img src="images/demo/222x138.png" alt=""></a></li>
        <li class="one_quarter"><a href="#"><img src="images/demo/222x138.png" alt=""></a></li>
        <li class="one_quarter"><a href="#"><img src="images/demo/222x138.png" alt=""></a></li>
      </ul>
      <!-- ################################################################################################ -->
    </figure>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">URJC Gaming News</a></p>
      <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>

  <!-- JAVASCRIPTS -->

  <script src="layout/scripts/jquery.backtotop.js"></script>
  <script src="layout/scripts/jquery.mobilemenu.js"></script>
  <script src="layout/scripts/slider.js"></script>
</body>
</html>